<div id="menu_parametres" class="flex menu_parametres">
    <div class="d-flex justify-content-center">
        <a id="lien_finitionExterieure" routerLink="/liste-finitions_exterieures"><div id="bouton_finitionExterieure" class="d-inline bouton_parametres">Finition extérieure</div></a>
        <a id="lien_finitionInterieure" routerLink="/liste-finitions_interieures"><div id="bouton_finitionInterieure" class="d-inline bouton_parametres">Finition intérieure</div></a>
        <a id="lien_conceptionOssature" routerLink="/liste-conceptions_ossatures"><div id="bouton_conceptionOssature" class="d-inline bouton_parametres">Conception ossature</div></a>
        <a id="lien_coupeDePrincipe" routerLink="/liste-coupes_de_principe"><div id="bouton_coupeDePrincipe" class="d-inline bouton_parametres">Coupe de principe</div></a>
        <a id="lien_familleComposant" routerLink="/liste-familles_composant"><div id="bouton_familleComposant" class="d-inline bouton_parametres">Famille composant</div></a>
        <a id="lien_typeRemplissage" routerLink="/liste-types_remplissage"><div id="bouton_typeRemplissage" class="d-inline bouton_parametres">Type remplissage</div></a>
    </div>
    <div class="mt-5 d-flex justify-content-center">
        <a id="lien_qualiteHuisserie" routerLink="/liste-qualites_huisseries"><div id="bouton_qualiteHuisserie" class="d-inline bouton_parametres">Qualité huisserie</div></a>
        <a id="lien_typeCouverture" routerLink="/liste-types_couverture"><div id="bouton_typeCouverture" class="d-inline bouton_parametres">Type couverture</div></a>
        <a id="lien_typeIsolation" routerLink="/liste-types_isolation"><div id="bouton_typeIsolation" class="d-inline bouton_parametres">Type isolation</div></a>
        <a id="lien_typeModule" routerLink="/liste-types_module"><div id="bouton_typeModule" class="d-inline bouton_parametres">Type module</div></a>
    </div>
</div>