/* CSS custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

.listeFournisseurs {
  position: fixed;
  top: 0;
  transition: all .3s ease-in;
  right: 5rem;
  width: 70rem;
  height: 100%;
  background: #365064;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 2em;
  overflow: hidden;
  overflow-y: scroll;
}

.listeFournisseurs::-webkit-scrollbar {
  display: none;
}

.content {
  padding-left: 3rem;
  padding-right: 3rem;
}

#displayCreate {
  display: none;
}

#displayUpdate {
  display: none;
}

.table td {
  vertical-align: 0 !important;
}

.title-tab {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.titre {
  margin-bottom: 20px;
}

#titrefournisseur {
  margin-left: 10px;
  color: #007bff;
  display: none;
}

.data-col {
  text-align: center;
  border-color: #dee2e6;
}

.lien-icone-action {
  margin-left: 10px;
  margin-right: 10px;
}

.icone-consulter {
  width: 12%;
}

.icone-modifier {
  width: 14%;
}

.icone-supprimer {
  width: 10%;
}

.bouton-creer {
  position: fixed;
  right: 0;
  bottom: 130px;
  left: 0;
  z-index: 1030;
  height: 120px;
}

.bouton-creer:focus {
  outline: none;
}

#boutonDisableWindow {
  position: fixed;
  width: 5em;
  right: 0;
  bottom: 33px;
  left: 20px;
  z-index: 1030;
}

#boutonDisableWindow:focus {
  outline: none;
}

#boutonDisplayWindow {
  visibility: hidden;
  transform: rotate(180deg) !important;
  position: fixed;
  width: 5em;
  right: 85px;
  bottom: 33px;
  z-index: 1030;
}

#boutonDisplayWindow:focus {
  outline: none;
}

.errorMessage {
  color: #F56A6A;
  display: none;
}

.deleteWindow {
  width: 34%;
  margin-left: 2%;
  background: white;
  border: solid #007bff 2px;
  position: fixed;
  bottom: 22%;
  padding: 40px;
  display: none;
}

.gray-madera {
  color: #365064;
}

.fournisseurDelete {
  margin-left: 5px;
  color: #007bff !important;
}

.btn-deleteWindow {
  width: 49%;
  padding: 18px;
  font-size: 20px;
}

.btn-annuler {
  margin-right: 7px;
}

.btn-supprimer {
  background-color: white !important;
  border-color: #0069d9 !important;
  color: #0069d9;
}

#consultation {
  display: none;
  position: fixed;
  top: 6rem;
  overflow: hidden;
  transition: all .3s ease-in;
  /* right: 5rem; */
  width: 100%;
  height: 80%;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 2em;
}

.titreConsultation {
  text-align: center;
}

.fenetresConsultation {
  margin-top: 5rem;
  height: 37rem;
}

.ficheFournisseur {
  background: white;
  border: solid 3px #365064;
  padding: 0 !important;
  height: 74%;
}

.titreFicheFournisseur {
  text-align: center;
  color: white;
  background: #365064;
}

.contenuFicheFournisseur {
  font-size: 1.4rem;
  margin: 2rem;
}

.typographyFicheFournisseur {
  color: #365064;
  margin-right: 10px;
}

.typographyContenu {
  color: rgb(38,153,251);
}

.boutonAjouterComposant {
  margin-top: 20px;
  padding: 17px;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  background: rgb(38,153,251);
}

.composantsFournisseur {
  background: white;
  padding: 0 !important;
  border: solid 3px #365064;
  height: 90%;
}

.listComposant {
  padding: 10px;
  height: 88%;
  overflow: hidden;
  overflow-y: scroll;
}

.familleComposant {
  font-size: 1.8rem;
  color: rgb(38,153,251);
  margin-top: 20px;
}

.separationFamille {
  margin-bottom: 6px;
  margin-top: -9px;
  border: 0;
  border-top: 6px solid rgba(0,0,0,.1);
}

.composant {
  text-decoration: none;
  font-size: 1.2rem;
  color: #365064 !important;
  transition: all .3s ease-in;
}

.composant:hover{
  text-decoration: none;
  font-size: 1.3rem;
  transition: all .1s ease-in;
}
