<div class="col-md-12 containerGlobalCreationDevis">
    <div class="titreClient row col-md-12 offset-md-5">
        <h1>Devis</h1>
    </div>
    <div class="row col-md-12 globalCreationRow">
        <div class="col-md-4 containerChoixGamme">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    <div class="dropdown col-md-12">
                        <div class="divDropDown col-md-12">
                            <div class="col-md-3 cubeEntete">
                                Gamme                                    
                            </div>
                            <button class="col-md-9 dropbtn">{{texteGamme}}</button>
                            
                        </div>
                        <div class="dropdown-content" >
                            <a id="{{'idGamme'+gamme.id}}" *ngFor="let gamme of gammes" (click)="handleChoixGamme($event)">{{gamme.libelle}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4  containerDefinitionGamme">
            <div class="col-md-12 rectangleEnteteBleu">
                <div> Gamme     :   {{texteGamme}} </div>
            </div>

            <!-- Type Isolation -->
            <div class="col-md-12">
                <div class="inputChoix dropdown col-md-12">
                    <div class="divDropDown col-md-12">
                        <div class="col-md-3 cubeEntete">
                            Type d'isolation
                        </div>
                        <button class="col-md-9 dropbtn">{{texteTypeIsolation}}</button>
                        
                    </div>
                    <div class="dropdown-content" >
                        <a id="{{'idTypeIso'+typeIsolation.id}}" *ngFor="let typeIsolation of typesIsolation" (click)="handleChoixTypeIsolation($event)">{{typeIsolation.libelle}}</a>
                    </div>
                </div>
            </div>

            <!-- Finition exterieur -->
            <div class="col-md-12">
                <div class="inputChoix dropdown col-md-12">
                    <div class="divDropDown col-md-12">
                        <div class="col-md-3 cubeEntete">
                            Finition extérieur
                        </div>
                        <button class="col-md-9 dropbtn">{{texteFinitionExterieur}}</button>
                        
                    </div>
                    <div class="dropdown-content" >
                        <a id="{{'idFiniExt'+finitionExterieur.id}}" *ngFor="let finitionExterieur of finitionsExterieur" (click)="handleChoixFinitionExterieur($event)">{{finitionExterieur.libelle}}</a>
                    </div>
                </div>
            </div>

            <!-- Finition intérieur -->
            <div class="col-md-12">
                <div class="inputChoix dropdown col-md-12">
                    <div class="divDropDown col-md-12">
                        <div class="col-md-3 cubeEntete">
                            Finition intérieur
                        </div>
                        <button class="col-md-9 dropbtn">{{texteFinitionInterieur}}</button>
                        
                    </div>
                    <div class="dropdown-content" >
                        <a id="{{'idFiniInt'+finitionInterieur.id}}" *ngFor="let finitionInterieur of finitionsInterieur" (click)="handleChoixfinitionInterieur($event)">{{finitionInterieur.libelle}}</a>
                    </div>
                </div>
            </div>

            <!-- Type de couverture -->
            <div class="col-md-12">
                <div class="inputChoix dropdown col-md-12">
                    <div class="divDropDown col-md-12">
                        <div class="col-md-3 cubeEntete">
                            Type de couverture
                        </div>
                        <button class="col-md-9 dropbtn">{{texteTypeCouverture}}</button>
                        
                    </div>
                    <div class="dropdown-content" >
                        <a id="{{'idTypeCouv'+typeCouverture.id}}" *ngFor="let typeCouverture of typesCouverture" (click)="handleChoixTypeCouverture($event)">{{typeCouverture.libelle}}</a>
                    </div>
                </div>
            </div>

            <!-- Qualité huisseries -->
            <div class="col-md-12">
                <div class="inputChoix dropdown col-md-12">
                    <div class="divDropDown col-md-12">
                        <div class="col-md-3 cubeEntete">
                            Qualité huisseries
                        </div>
                        <button class="col-md-9 dropbtn">{{texteQualiteHuisserie}}</button>
                        
                    </div>
                    <div class="dropdown-content" >
                        <a id="{{'idQualiHui'+qualiteHuisserie.id}}" *ngFor="let qualiteHuisserie of qualiteHuisseries" (click)="handleChoixQualiteHuisserie($event)">{{qualiteHuisserie.libelle}}</a>
                    </div>
                </div>
            </div>

            <!-- Conception ossature -->
            <div class="col-md-12" style="padding-bottom: 2em;">
                <div class="inputChoix dropdown col-md-12">
                    <div class="divDropDown col-md-12">
                        <div class="col-md-3 cubeEntete">
                            Conception ossature
                        </div>
                        <button class="col-md-9 dropbtn">{{texteConceptionOssature}}</button>
                        
                    </div>
                    <div class="dropdown-content" >
                        <a id="{{'idConceptOssa'+conceptionOssature.id}}" *ngFor="let conceptionOssature of conceptionsOssatures" (click)="handleChoixconceptionOssature($event)">{{conceptionOssature.libelle}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 offset-md-1  containerListeModele">
            <div class="col-md-12 rectangleEnteteBleu">
                <div> Liste des modèles </div>
            </div>
    </div>
    
    
    <div class="loading" *ngIf="isLoading" >Loading&#8230;</div>
</div>