<div class="devis container">
    <div class="creationDevis row">
        <div class="containerGlobal row">
            <div class="selectionClient col-sm-6 align-self-center">
                <div class="titreClient">
                    <h1>Client</h1>
                </div>
                <div class="choixClient">
                    Choix du client
                </div>
                <div class="ficheClient">
                    Fiche du client
                </div>
            </div>
        </div>
    </div>
</div>