<div id="listeTypesRemplissage" class="listeTypesRemplissage flex">
    <div id="content" class="content">
        <app-menu-parametres></app-menu-parametres>
        <div class="d-flex justify-content-center titre">
            <h2 id="grand-titre">Liste des types de remplissage</h2><h2 id="titreTypeRemplissage">[ERROR]</h2>
        </div>
        <div id="displayList">
            <table class="table  table-hover  justify-content-center text-center">
                <thead class="text-white">
                <tr>
                    <th class="border title-tab" scope="col">Type de remplissage</th>
                    <th class="border title-tab" scope="col">Prix</th>
                    <th class="border title-tab" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="table-light table-bordered" style="border-color:black;">
                    <tr id="{{'id_typeRemplissage'+typeRemplissage.id}}" *ngFor="let typeRemplissage of typesRemplissage">
                        <td class="data-col">{{typeRemplissage.libelle}}</td>
                        <td class="data-col">{{typeRemplissage.prix}}</td>
                        <td class="data-col actions">
                            <a class="lien-icone-action" (click)="consulterTypeRemplissage(typeRemplissage.id)">
                                <img class="icone-consulter" src="assets\icones\consultation.svg">
                            </a>
                            <a class="lien-icone-action" (click)="modifierTypeRemplissage(typeRemplissage.id)">
                                <img class="icone-modifier" src="assets\icones\plume.svg">
                            </a>
                            <a class="lien-icone-action" (click)="supprimerTypeRemplissage(typeRemplissage.id)">
                                <img class="icone-supprimer" src="assets\icones\croix.svg">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input type="image" id="boutonTypeRemplissage" src="assets\icones\displayCreate.svg" class="position-absolute bouton-creer" (click)="displayTypeRemplissage()">
</div>