<div id="listeFinitionsExterieures" class="listeFinitionsExterieures flex">
  <div id="content" class="content">
    <app-menu-parametres></app-menu-parametres>
    <div class="d-flex justify-content-center titre">
      <h2 id="grand-titre">Liste des finitions extérieures</h2>
      <h2 id="titrefinitionExterieure">[ERROR]</h2>
    </div>
    <div id="displayList">
      <table class="table  table-hover  justify-content-center text-center">
        <thead class="text-white">
        <tr>
          <th class="border title-tab" scope="col">Type de finition extérieure</th>
          <th class="border title-tab" scope="col">Prix (en €)</th>
          <th class="border title-tab" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="table-light table-bordered" style="border-color:black;">
        <tr id="{{'id_finitionExterieure'+finitionExterieure.id}}"
            *ngFor="let finitionExterieure of finitionsExterieures">
          <td class="data-col">{{finitionExterieure.libelle}}</td>
          <td class="data-col">{{finitionExterieure.prix}}</td>
          <td class="data-col actions">
            <a class="lien-icone-action" (click)="consulterFinitionExterieure(finitionExterieure.id)">
              <img class="icone-consulter" src="assets\icones\consultation.svg">
            </a>
            <a class="lien-icone-action" (click)="modifierFinitionExterieure(finitionExterieure.id)">
              <img class="icone-modifier" src="assets\icones\plume.svg">
            </a>
            <a class="lien-icone-action" (click)="supprimerFinitionExterieure(finitionExterieure.id)">
              <img class="icone-supprimer" src="assets\icones\croix.svg">
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="displayCreate">
      <form #creationFinitionExterieureForm="ngForm" (ngSubmit)="onSubmit(creationFinitionExterieureForm, true)"
            class="flex">
        <div class="d-flex justify-content-center">
          <p class="text-center">Pour créer une finition extérieure, veuillez renseigner le libelle et le prix de
            celle-ci, la description n'est pas obligatoire.</p>
        </div>
        <div class="form-group">
          <label for="Libelle">Libelle de la finition</label>
          <input type="text" ngModel #libelle="ngModel" class="form-control" name="libelle" id="libelle"
                 placeholder="Entrez le libelle de la finition" required>
          <small id="libelleError" class="form-text errorMessage">libelleError</small>
        </div>
        <div class="form-group">
          <label for="Prix">Prix de la finition</label>
          <input type="text" ngModel #prix="ngModel" class="form-control" name="prix" id="prix"
                 placeholder="Entrez le prix en euro de la finition" appOnlyNumber required>
          <small id="prixError" class="form-text errorMessage">prixError</small>
        </div>
        <div class="form-group mt-2">
          <label for="Description">Description de la finition extérieure</label>
          <textarea ngModel #description="ngModel" class="form-control" name="description" id="description"
                    aria-describedby="descriptionHelp" placeholder="Entrez la description de la finition" rows="4"
                    cols="50"></textarea>
          <small id="descriptionError" class="form-text errorMessage">descriptionError</small>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary w-100">Créer cette finition</button>
        </div>
      </form>
    </div>
  </div>
  <input type="image" id="boutonFinitionExterieure" src="assets\icones\displayCreate.svg"
         class="position-absolute bouton-creer" (click)="displayFinitionExterieure()">
</div>
