<div id="listeQualitesHuisseries" class="listeQualitesHuisseries flex">
    <div id="content" class="content">
        <app-menu-parametres></app-menu-parametres>
        <div class="d-flex justify-content-center titre">
            <h2 id="grand-titre">Liste des qualités de huisseries</h2><h2 id="titreQualiteHuisserie">[ERROR]</h2>
        </div>
        <div id="displayList">
            <table class="table  table-hover  justify-content-center text-center">
                <thead class="text-white">
                <tr>
                    <th class="border title-tab" scope="col">Qualité de la huisserie</th>
                    <th class="border title-tab" scope="col">Prix</th>
                    <th class="border title-tab" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="table-light table-bordered" style="border-color:black;">
                    <tr id="{{'id_qualiteHuisserie'+qualiteHuisserie.id}}" *ngFor="let qualiteHuisserie of qualitesHuisseries">
                        <td class="data-col">{{qualiteHuisserie.libelle}}</td>
                        <td class="data-col">{{qualiteHuisserie.prix}}</td>
                        <td class="data-col actions">
                            <a class="lien-icone-action" (click)="consulterQualiteHuisserie(qualiteHuisserie.id)">
                                <img class="icone-consulter" src="assets\icones\consultation.svg">
                            </a>
                            <a class="lien-icone-action" (click)="modifierQualiteHuisserie(qualiteHuisserie.id)">
                                <img class="icone-modifier" src="assets\icones\plume.svg">
                            </a>
                            <a class="lien-icone-action" (click)="supprimerQualiteHuisserie(qualiteHuisserie.id)">
                                <img class="icone-supprimer" src="assets\icones\croix.svg">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input type="image" id="boutonQualiteHuisserie" src="assets\icones\displayCreate.svg" class="position-absolute bouton-creer" (click)="displayQualiteHuisserie()">
</div>