

<div class="tableau flex">
  <div class="d-flex justify-content-center m-3">


    <table class="table  table-hover  justify-content-center text-center">
      <thead class="text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom de la gamme</th>
        <th scope="col">Modèles de la gamme</th>
        <th scope="col">Nombre de modules associé</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="table-light table-bordered " style="border-color:black;">
      <tr>
        <th scope="row">1</th>
        <td>gamme n°1</td>
        <td>modèles de la gamme</td>
        <td>4</td>
        <td><img class="image_liste"  src="assets\icones\plume.svg"><img class="image_liste" src="assets\icones\consultation.svg"><img class="image_liste"  src="assets\icones\croix.svg"></td>
      </tr>

      </tbody>
    </table>

    <router-outlet></router-outlet>
  </div>
</div>
