.listeDevis {
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all .3s ease-in;
    right: 5rem;
    width: 80rem;
    height: 100%;
    background: #365064;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 2em;
    /* À CHANGER ! */
    overflow: hidden;
}

.listeFournisseurs::-webkit-scrollbar {
    display: none;
}

.content {
    padding-left: 3rem;
    padding-right: 3rem;
}

#displayCreate {
    display: none;
}

#displayUpdate {
    display: none;
}

.table td {
    vertical-align: 0 !important;
    padding: 0.2rem !important;
}

.title-tab {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.titre {
    margin-bottom: 20px;
}

#titrefournisseur {
    margin-left: 10px;
    color: #007bff;
    display: none;
}

.data-col {
    text-align: center;
    border-color: #dee2e6;
}

.lien_client {
  cursor: pointer;
}

.fiche_client {
  position: absolute;
  top: 10px;
  left: 10px;
}

#lien_quitterFicheClient {
  cursor: pointer;
}

.bg_icone_ficheClient {
  background: #2699FB;
  padding: 10px;
}

.centerEmail {
  margin-left: 4px;
}

.center {
  margin-left: 7px;
}

.clientFiche_champs {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.encadrement {
  border: solid #2699FB 1px;
}

.icone_quitter {
  right: 16px;
  position: absolute;
  top: 16px;
}

.lien-icone-action {
    margin-left: 10px;
    margin-right: 10px;
}

.icone-consulter {
    width: 12%;
}

.icone-modifier {
    width: 14%;
}

.icone-supprimer {
    width: 10%;
}

.clientWindow {
  width: 26%;
  margin-left: 2%;
  background: white;
  border: solid #007bff 2px;
  position: fixed;
  bottom: 22%;
  padding: 40px;
  display: none;
}

.deleteWindow {
  width: 26%;
  margin-left: 2%;
  background: white;
  border: solid #007bff 2px;
  position: fixed;
  bottom: 22%;
  padding: 40px;
  display: none;
}

.btn-deleteWindow {
  width: 49%;
  padding: 18px;
  font-size: 20px;
}

.btn-annuler {
  margin-right: 7px;
}

.btn-supprimer {
  background-color: white !important;
  border-color: #0069d9 !important;
  color: #0069d9;
}

.nomPrenom {
  color : #2699FB;
}

.bouton-creer {
  position: fixed;
  right: 0;
  bottom: 130px;
  left: 0;
  z-index: 1030;
  height: 120px;
}