body {
    background-image: none !important;
        width: 100%;
        height: 100%;
}
.cubeIcone {
    background-color: #2699FB;
    width: 20%;
    height:3em;
    display: flex;
    align-items: center;
}
