body {
    background-image: none !important;
        width: 100%;
        height: 100%;

}
.divbody
{
  margin-left: 5rem;
  margin-right: 10rem;
}
.divNomModele {

  color: var(--white);

  background: #2699FB;
}


.LibelleInput{
position : relative;
 color: #2699FB;
}

.BoutonListeActuel
{
  color: var(--white);
  background: #2699FB;
}
.BoutonListe
 {
 background:#FFFFFF;
 }
.Liste
 {
 background:#FFFFFF;
 }


.tableauModuleModele
 {
  vertical-align: 0 !important;
 color: var(--white);
 background:#365064;
 }
.tableauModuleModeleDiv
 {
  vertical-align: 0 !important;
 }

.BoutonAjout
{
background:none;
border-width: 0em;
}
.icone-barrePlus
{
width:100%;
}
.ligneTableau{
    display: true;

}
